<div id="game">
  <div id="opponent-stack" class="chipstack info">
    <img class="chip-icon" src="img/chip.png">
    <span>{{ gs.players[opponentSeat].chips }}</span>
  </div>

  <div class="pkr-button" id="opponent-button" ng-show="{{ gs.button != seat }}"><span></span></div>

  <div id="player-stack" class="chipstack info">
    <img class="chip-icon" src="img/chip.png">
    <span>{{ gs.players[seat].chips }}</span>
  </div>

  <div class="pkr-button" id="player-button" ng-show="{{ gs.button == seat }}"><span></span></div>

  <card rank="{{ gs.players[opponentSeat].hole[0].rank }}"
        suit="{{ gs.players[opponentSeat].hole[0].suit}}"></card>
  <card rank="{{ gs.players[opponentSeat].hole[1].rank }}"
        suit="{{ gs.players[opponentSeat].hole[1].suit }}"></card>

  <div id="board-cards">
    <span id="flop1" class="flop card" ng-class="{undealt: gs.boardCards.length > 0}"></span>
    <span id="flop2" class="flop card" ng-class="{undealt: gs.boardCards.length > 0}"></span>
    <span id="flop3" class="flop card" ng-class="{undealt: gs.boardCards.length > 0}"></span>
    <span id="turn" class="card" ng-class="{undealt: gs.boardCards.length > 3}"></span>
    <span id="river" class="card" ng-class="{undealt: gs.boardCards.length > 4}"></span>
  </div>

  <div id="hand-info" class="info">
    <img class="chip-icon" src="img/chip.png"><span id="pot">{{ gs.pot }}</span>
  </div>

  <card rank="{{ gs.players[seat].hole[0].rank }}"
        suit="{{ gs.players[seat].hole[0].suit}}"></card>
  <card rank="{{ gs.players[seat].hole[1].rank }}"
        suit="{{ gs.players[seat].hole[1].suit }}"></card>

  <div id="bet-slider">
    <input ng-model="raiseAmount" id="slider-fill" class="bet-slider c" type="range"
           name="slider-fill" data-highlight="true"
           value="{{ gs.bigBlind * 2 }}" step="10"
           min="{{ gs.minRaiseTo }}" max="{{ gs.players[seat].chips }}">
  </div>

  <div id="actions">
    <span class="fold button" ng-class="{inactive: turnInactive}">
      <span class="action">Fold</span>
    </span>
    <span class="check call button" ng-class="{inactive: turnInactive}">
      <span class="action c">Check</span>
      <span class="inner-button">{{ callAmount }}</span>
    </span>
    <span class="bet raise button" ng-class="{inactive: turnInactive}">
      <span class="action c">{{ raiseText }}</span>
      <span class="inner-button">{{ raiseAmount }}</span>
    </span>
  </div>
</div>
