<div id="game" ng-controller="PokerCtrl">
  <div class="not-bar">{{ notify }}</div>

  <div id="pnp-overlay" class="overlay" ng-class="{show: pnpOverlay}">
    <h3>Next Turn</h3>
    <div class="inner-overlay">
      <p>{{ pnpAction }}</p>
      <p>Pass the game to your opponent</p>
      <div class="overlay-buttons">
        <span class="button" ng-click="pnpOverlay = false">Play</span>
      </div>
    </div>
  </div>

  <div class="overlay" ng-class="{show: raiseOverlay && raiseActive}">
    <h3>{{ betRaiseText() }}</h3>
    <div class="inner-overlay">
      <p>Select a {{ betRaiseText() }} Amount</p>
      <div class="bet-slider-tabs">
        <span class="min" ng-click="raiseAmount = gs.minRaiseTo">Min</span>
        <span class="pot" ng-click="raiseAmount = gs.pot">Pot</span>
        <span class="max" ng-click="raiseAmount = maxRaiseTo">Max</span>
      </div>
      <div bet-slider class="bet-slider" step="10">
        <span></span>
      </div>
      <div class="overlay-buttons">
        <span class="button cancel" ng-click="raiseOverlay = false">Cancel</span>
        <span class="button submit" ng-click="doAction('raise')">
          {{ betRaiseText(true) }}
          {{ raiseAmount }}
        </span>
      </div>
    </div>
  </div>

  <div id="opponent-stack" class="chipstack info">
    <div class="stack c">
      <div class="chip"><span></span></div>
      <span class="chip-val">{{ gs.players[opponentSeat].chips }}</span>
    </div>
  </div>

  <div id="opponent-pip" class="chipstack info" ng-show="gs.players[opponentSeat].roundPIP">
    <div class="chip"><span></span></div>
    <span>{{ gs.players[opponentSeat].roundPIP }}</span>
  </div>

  <div class="pkr-button" id="opponent-button" ng-show="gs.button != seat"><span></span></div>

  <div id="player-pip" class="chipstack info" ng-show="gs.players[seat].roundPIP">
    <div class="chip"><span></span></div>
    <span>{{ gs.players[seat].roundPIP }}</span>
  </div>

  <div id="player-stack" class="chipstack info">
    <div class="stack c">
      <div class="chip"><span></span></div>
      <span class="chip-val">{{ gs.players[seat].chips }}</span>
    </div>
  </div>

  <div class="pkr-button" id="player-button" ng-show="gs.button == seat"><span></span></div>

  <card card="{{ gs.players[opponentSeat].hole[0] }}" hole></card>
  <card card="{{ gs.players[opponentSeat].hole[1] }}" hole></card>

  <div id="board-cards">
    <card card="{{ gs.boardCards[0] }}" board></card>
    <card card="{{ gs.boardCards[1] }}" board></card>
    <card card="{{ gs.boardCards[2] }}" board></card>
    <card card="{{ gs.boardCards[3] }}" board></card>
    <card card="{{ gs.boardCards[4] }}" board></card>
  </div>

  <div id="hand-info" class="info">
    <div class="chip"><span></span></div>
    <span id="pot">{{ gs.pot }}</span>
  </div>

  <card card="{{ gs.players[seat].hole[0] }}" hole></card>
  <card card="{{ gs.players[seat].hole[1] }}" hole></card>

  <div id="actions">
    <span class="button" ng-click="doAction('fold')"
          ng-class="{inactive: !foldActive}">
      <span class="action">Fold</span>
    </span>
    <span class="button" ng-click="doAction('checkCall')"
          ng-class="{inactive: !callActive}">
      <span class="action c">{{ checkCallText() }}</span>
      <span class="inner-button">{{ gs.actionOn == seat && gs.toCall || '' }}</span>
    </span>
    <span class="button" ng-click="toggleRaiseOverlay()"
          ng-class="{inactive: !raiseActive}">
      <span class="action c">{{ betRaiseText() }}</span>
    </span>
  </div>
</div>
