<div id='lobby' ng-controller="LobbyCtrl">
  <h1>Versus Poker</h1>
  <p>Heads-Up Hold'em</p>
  <div>
    <span class="card logo">
      <span class="rank">V</span>
      <span class="suit-little red">&hearts;</span>
      <span class="suit red">&hearts;</span>
    </span>
    <span class="card logo">
      <span class="rank">S</span>
      <span class="suit-little red">&hearts;</span>
      <span class="suit red">&hearts;</span>
    </span>
  </div>
  <span id="find-game" class="button" ng-click="findGame()">Find Game</span>
</div>
