<div id="lobby" ng-controller="LobbyCtrl">
  <div class="not-bar">{{ notify }}</div>

  <h1>Versus Poker</h1>
  <p>Heads-Up Hold'em</p>
  <div id="logo">
    <span class="card logo">
      <span class="rank">V</span>
      <span class="suit-little red">&hearts;</span>
      <span class="suit red">&hearts;</span>
    </span>
    <span class="card logo">
      <span class="rank">S</span>
      <span class="suit-little red">&hearts;</span>
      <span class="suit red">&hearts;</span>
    </span>
  </div>
  <span id="find-game" class="button" ng-class="{inactive: !enableFindGame}"
        ng-click="findGame()">
    {{ (!enableFindGame && 'Finding Game...') || 'Find Game' }}
  </span>
</div>
