html, body {
  background: #191919;
  color: #ebebeb;
  margin: 0 auto;
  overflow: hidden;
  padding: 0; }
  html.ui-mobile, body.ui-mobile {
    height: 100%; }

.c:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#wrap {
  -moz-box-shadow: 0 0 1px 1px #282828;
  -webkit-box-shadow: 0 0 1px 1px #282828;
  box-shadow: 0 0 1px 1px #282828;
  background: #0a3102;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#0f4a03), to(#0a3102));
  background: -webkit-radial-gradient(#0f4a03, #0a3102);
  background: -moz-radial-gradient(#0f4a03, #0a3102);
  background: -ms-radial-gradient(#0f4a03, #0a3102);
  background: -o-radial-gradient(#0f4a03, #0a3102);
  background: radial-gradient(#0f4a03, #0a3102);
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 457px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  right: 0;
  text-align: center;
  width: 640px; }
  #wrap.gameView {
    -moz-transform: translateX(-320px);
    -ms-transform: translateX(-320px);
    -o-transform: translateX(-320px);
    -webkit-transform: translateX(-320px); }

.not-bar {
  background: url("/img/dark_bg.png");
  font-size: 13px;
  margin-bottom: 13px;
  height: 22px;
  padding: 5px 0 0;
  width: 100%; }

span.button {
  -moz-box-shadow: 0 0 1px 1px #282828;
  -webkit-box-shadow: 0 0 1px 1px #282828;
  box-shadow: 0 0 1px 1px #282828;
  background-color: #7e0909;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8c0a0a), to(#7e0909));
  background-image: -webkit-linear-gradient(#8c0a0a, #7e0909);
  background-image: -moz-linear-gradient(#8c0a0a, #7e0909);
  background-image: -ms-linear-gradient(#8c0a0a, #7e0909);
  background-image: -o-linear-gradient(#8c0a0a, #7e0909);
  background-image: linear-gradient(#8c0a0a, #7e0909);
  border-radius: 3px;
  color: #ebebeb;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 35px;
  width: 20%;
  margin: auto;
  padding: 10px 0 0;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 95%; }
  span.button:hover {
    background-color: #8c0a0a;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#7e0909), to(#8c0a0a));
    background-image: -webkit-linear-gradient(#7e0909, #8c0a0a);
    background-image: -moz-linear-gradient(#7e0909, #8c0a0a);
    background-image: -ms-linear-gradient(#7e0909, #8c0a0a);
    background-image: -o-linear-gradient(#7e0909, #8c0a0a);
    background-image: linear-gradient(#7e0909, #8c0a0a); }
  span.button.clicked {
    box-shadow: 0px 0px 2px 2px #050505 inset; }
  span.button.inactive {
    background: #161414;
    color: #505050;
    cursor: default;
    box-shadow: 0 0 0 0; }

.card {
  -moz-box-shadow: 0 0 1px 1px #282828;
  -webkit-box-shadow: 0 0 1px 1px #282828;
  box-shadow: 0 0 1px 1px #282828;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: url("/img/debut_light.png");
  border: 1px solid #ebebeb;
  border-radius: 3px;
  color: #050505;
  display: inline-block;
  font-size: 32px;
  margin: 6px 0 6px;
  height: 70px;
  position: relative;
  width: 50px;
  vertical-align: top; }
  .card .rank {
    font: 26px monospace;
    position: absolute;
    left: 3px;
    top: 0; }
  .card .suit-little {
    font-size: 18px;
    left: 3px;
    position: absolute;
    top: 27px; }
  .card .suit {
    bottom: -4px;
    font-size: 36px;
    position: absolute;
    right: 0; }
  .card .black {
    color: black; }
  .card .red {
    color: #C3071D; }
  .card.undealt {
    box-shadow: none;
    background: none;
    border: 1px dashed #505050;
    position: relative; }
  .card.facedown {
    background: url("/img/escheresque_ste.png");
    border: 1px solid #282828;
    overflow: hidden; }
    .card.facedown:after {
      color: #ebebeb;
      content: 'vs';
      font-family: monospace;
      font-size: 44px;
      left: 0;
      opacity: .3;
      position: absolute;
      right: 0;
      top: 5px; }
