html, body {
  color: #dcdcdc;
  margin: 0 auto;
  margin-top: -12px;
  overflow: hidden;
  padding: 0; }

.c:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#wrap {
  background: #0a3102;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#0f4a03), to(#0a3102));
  background: -webkit-radial-gradient(#0f4a03, #0a3102);
  background: -moz-radial-gradient(#0f4a03, #0a3102);
  background: -ms-radial-gradient(#0f4a03, #0a3102);
  background: -o-radial-gradient(#0f4a03, #0a3102);
  background: radial-gradient(#0f4a03, #0a3102);
  height: 454px;
  margin: 0 auto;
  overflow: hidden;
  padding: 24px 0 6px 0;
  text-align: center;
  width: 320px; }

#not-bar {
  background: #161414;
  font-size: 13px;
  margin-bottom: 12px;
  height: 22px;
  padding: 5px 0 0;
  width: 100%; }

span.button {
  -moz-box-shadow: 0 0 1px 1px #282828;
  -webkit-box-shadow: 0 0 1px 1px #282828;
  box-shadow: 0 0 1px 1px #282828;
  background: #390208;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  width: 20%;
  margin: auto;
  padding: 10px 0 0;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 95%; }
  span.button:hover {
    background: #370208; }
  span.button.clicked {
    box-shadow: 0px 0px 2px 2px #050505 inset; }
  span.button.inactive {
    background: #161414;
    color: #505050;
    cursor: default;
    box-shadow: 0 0 0 0; }
