@import 'globals';
html, body {
    color: $white;
    margin: 0 auto;
    margin-top: -12px;
    overflow: hidden;
    padding: 0;
}

.c:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#wrap {
    @include radial-gradient(lighten($green, 5%), $green);
    height: 454px;
    margin: 0 auto;
    overflow: hidden;
    padding: 24px 0 6px 0;
    text-align: center;
    width: 320px;
}

#not-bar {
    background: $dark-gray;
    font-size: 13px;
    margin-bottom: 12px;
    height: 22px;
    padding: 5px 0 0;
    width: 100%;
}

span.button {
    @include default-box-shadow();
    background: $red;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 35px; width: 20%;
    margin: auto;
    padding: 10px 0 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 95%;
    &:hover {
        background: darken($red, .5%);
    }
    &.clicked {
        box-shadow: 0px 0px 2px 2px $black inset;
    }
    &.inactive {
        background: $dark-gray;
        color: $light-gray;
        cursor: default;
        box-shadow: 0 0 0 0;
    }
}
