@import 'globals';

#game {
    left: 320px;
    position: relative;
    transition: left .5s linear;
    .card {
        @include default-box-shadow();
        background: url('/img/debut_light.png');
        border: 1px solid $green;
        border-radius: 2px;
        color: $black;
        display: inline-block;
        font-size: 32px;
        margin: 6px 0 6px;
        height: 70px;
        position: relative;
        transition: all .2s;
        width: 50px;
        vertical-align: top;
        &.undealt {
            box-shadow: none;
            background: none;
            border: 1px dashed $light-gray;
            position: relative;
        }
        &.facedown {
            background: url('/img/grey_sandbag.png');
            overflow: hidden;
            &:after {
                color: $light-gray;
                content: 'vs';
                font-size: 52px;
                left: -4px;
                position: absolute;
                top: -2px;
            }
        }
        .rank {
            font: 26px monospace;
            position: absolute;
            left: 3px;
            top: 0;
        }
        .suit-little {
            font-size: 18px;
            left: 3px;
            position: absolute;
            top: 27px;
        }
        .suit {
            bottom: -4px;
            font-size: 40px;
            position: absolute;
            right: 0;
        }
        .black {
            color: black;
        }
        .red {
            color: #C3071D;
        }
    }

    #board-cards {
        margin-top: 12px;
    }

    #bet-slider {
        position: relative;
        div.ui-slider {
            right: 48px;
            margin: 30px auto auto;
            position: relative;
            width: 55%;
            &:hover {
                cursor: pointer;
            }
        }
        #slider-fill {
            position: absolute;
            left: 225px;
            top: 10px;
        }
    }

    .info {
        font-size: 14px;
        margin-bottom: 6px;
    }

    #hand-info {
        span {
            text-transform: capitalize;
        }
    }

    .chipstack {
        position: absolute;
        margin-left: 240px;
        span {
            position: absolute;
        }
        &#opponent-stack {
            margin-top: 6px;
        }
        &#player-stack {
            margin-top: 267px;
        }
    }

    .chip-icon {
        height: 16px;
        width: 16px;
    }

    .pkr-button {
        @include default-box-shadow();
        background: $white;
        border-radius: 15px;
        color: $dark-gray;
        display: block;
        height: 25px;
        margin-left: 75px;
        position: absolute;
        width: 25px;
        &#opponent-button {
            margin-top: 2px;
        }
        &#player-button {
            margin-top: 259px;
        }
        span {
            font-size: 14px;
            font-weight: bold;
            position: relative;
            top: 3px;
            &:after {
                content: "D";
            }
        }
    }

    #actions {
        position: relative;
        left: 13px;
        span.button {
            display: inline-block;
            float: left;
            width: 25%;
            margin: 0 3px 0 3px;
            padding: 10px 7px 15px 7px;
            top: 18px;
            .inner-button {
                display: inline;
            }
        }
    }
}
