@import 'globals';

#game {
    .card {
        font-size: 32px;
    }

    #actions span.button {
        display: inline;
        width: 33.33%;
        padding: 10px 20px 10px 20px;
        top: 18px;

        &.inactive {
            background: $dark-gray;
            color: $light-gray;
            cursor: normal;
            box-shadow: 0 0 0 0;
        }
    }
}
