#game .card {
  background: #d2d2d2;
  color: #050505;
  display: inline-block;
  font-size: 32px;
  margin: 6px 0 6px;
  height: 70px;
  width: 50px;
  vertical-align: top; }
  #game .card.undealt {
    background: none;
    border: 1px dashed #505050; }
  #game .card.facedown {
    background: #299283; }
#game #board-cards {
  margin-top: 12px; }
#game #bet-slider {
  margin: auto;
  margin-top: 24px;
  width: 75%; }
  #game #bet-slider:hover {
    cursor: pointer; }
#game .info {
  font-size: 14px;
  margin-bottom: 12px; }
#game #opponent-info {
  margin: 12px 0; }
#game #hand-info {
  margin-bottom: 3px; }
  #game #hand-info span {
    text-transform: capitalize; }
#game #player-info {
  position: relative;
  top: 8px; }
#game .pkr-button {
  -moz-box-shadow: 3px 3px 2px 0 #050505;
  -webkit-box-shadow: 3px 3px 2px 0 #050505;
  box-shadow: 3px 3px 2px 0 #050505;
  background: #d2d2d2;
  border-radius: 15px;
  color: #161414;
  display: block;
  height: 25px;
  left: 50%;
  margin: -3px 0 0 -70px;
  position: absolute;
  width: 25px; }
  #game .pkr-button span {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: 1px;
    top: 4px; }
#game #actions span.button {
  display: inline-block;
  width: 25%;
  margin: 0 3px 0 3px;
  padding: 10px 7px 15px 7px;
  top: 18px; }
  #game #actions span.button:first-child {
    top: -2px; }
  #game #actions span.button .inner-button {
    display: inline; }
