#game {
  float: left;
  height: 100%;
  position: relative;
  width: 50%; }
  #game #board-cards {
    margin-top: 36px; }
  #game .bet-slider-tabs {
    height: 13px;
    padding-bottom: 14px;
    position: relative; }
    #game .bet-slider-tabs span {
      background: url("/img/dark_bg.png");
      border-radius: 4px 4px 0 0;
      cursor: pointer;
      float: left;
      padding: 6px 13px;
      margin-right: 4px; }
  #game .bet-slider {
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    background: url("/img/dark_bg.png");
    border-radius: 5px;
    height: 20px;
    padding: 10px;
    position: relative; }
    #game .bet-slider > span {
      -moz-transition: width 0.1s;
      -ms-transition: width 0.1s;
      -o-transition: width 0.1s;
      -webkit-transition: width 0.1s;
      transition: width 0.1s;
      background-color: #54f054 69%;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#2bc253 37%), to(#54f054 69%));
      background-image: -webkit-linear-gradient(#2bc253 37%, #54f054 69%);
      background-image: -moz-linear-gradient(#2bc253 37%, #54f054 69%);
      background-image: -ms-linear-gradient(#2bc253 37%, #54f054 69%);
      background-image: -o-linear-gradient(#2bc253 37%, #54f054 69%);
      background-image: linear-gradient(#2bc253 37%, #54f054 69%);
      -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3) \, inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3) \, inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3) \, inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      background-color: #2bc253;
      border-radius: 20px 8px 8px 20px;
      font-weight: bold;
      display: block;
      height: 100%;
      overflow: hidden;
      position: relative; }
  #game .info {
    font-size: 14px;
    margin-bottom: 6px; }
  #game #hand-info {
    margin-bottom: 24px; }
    #game #hand-info span {
      text-transform: capitalize; }
  #game .chipstack {
    position: absolute;
    left: 110px;
    top: 110px;
    width: 100px;
    z-index: 1; }
    #game .chipstack .chip {
      float: left; }
    #game .chipstack .chip-val {
      left: 35px;
      position: absolute; }
    #game .chipstack .stack {
      background: url("/img/dark_bg.png");
      border-radius: 4px;
      padding: 6px 57px 6px 10px; }
    #game .chipstack#player-stack {
      margin-top: 246px; }
  #game .pip {
    position: absolute;
    margin-left: 240px;
    top: 116px; }
    #game .pip#player-pip {
      margin-top: 245px; }
  #game .chip {
    -moz-box-shadow: 0 0 1px 1px #282828;
    -webkit-box-shadow: 0 0 1px 1px #282828;
    box-shadow: 0 0 1px 1px #282828;
    background: #ebebeb;
    border: 1px double green;
    border-radius: 12px;
    color: #161414;
    display: inline-block;
    font-size: 9px;
    margin: 0 auto;
    margin-right: 4px;
    height: 16px;
    width: 16px; }
    #game .chip span {
      font-size: 12px;
      font-weight: bold;
      position: relative;
      top: 1px; }
      #game .chip span:after {
        color: #8c0a0a;
        content: "\2660"; }
  #game .pkr-button {
    -moz-box-shadow: 0 0 1px 1px #282828;
    -webkit-box-shadow: 0 0 1px 1px #282828;
    box-shadow: 0 0 1px 1px #282828;
    background: #ebebeb;
    border-radius: 15px;
    color: #161414;
    display: block;
    height: 25px;
    margin-left: 75px;
    position: absolute;
    width: 25px; }
    #game .pkr-button#opponent-button {
      margin-top: 2px; }
    #game .pkr-button#player-button {
      margin-top: 262px; }
    #game .pkr-button span {
      font-size: 14px;
      font-weight: bold;
      position: relative;
      top: 3px; }
      #game .pkr-button span:after {
        content: "D"; }
  #game #actions {
    bottom: 0;
    left: 10px;
    position: absolute;
    width: 100%; }
    #game #actions span.button {
      border-radius: 3px 3px 0 0;
      display: inline-block;
      float: left;
      width: 25%;
      margin: 0 3px;
      padding: 10px 7px 10px; }
      #game #actions span.button .inner-button {
        display: inline; }
