@import 'globals';


#game {
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
    #pnp-overlay {
        @include default-box-shadow();
        @include transition(opacity .2s linear);
        background: url('/img/dark_bg.png');
        border-radius: 3px;
        position: absolute;
        top: 39px;
        left: 0;
        right: 1px;
        margin: 0 auto;
        opacity: 0;
        width: 100%;
        height: 66%;
        z-index: 1;
        &.show {
            opacity: .985;
        }
        #inner-overlay {
            @include default-box-shadow();
            background: $light-gray;
            border-radius: 5px;
            height: 50%;
            margin: 0 auto;
            padding: 13px;
            position: relative;
            width: 80%;
            .button {
                position: absolute;
                bottom: 13px;
                left: 0;
                right: 0;
            }
        }
    }
    #board-cards {
        margin-top: 12px;
    }
    #bet-slider {
        position: relative;
        div.ui-slider {
            right: 40px;
            margin: 30px auto auto;
            position: relative;
            width: 66%;
            &:hover {
                cursor: pointer;
            }
        }
        #slider-fill {
            position: absolute;
            left: 239px;
            top: 10px;
        }
    }
    .info {
        font-size: 14px;
        margin-bottom: 6px;
    }
    #hand-info {
        span {
            text-transform: capitalize;
        }
    }
    .chipstack {
        position: absolute;
        margin-left: 240px;
        .chip {
            float: left;
        }
        .chip-val {
            position: absolute;
            left: 30px;
        }
        .stack {
            background: url('/img/dark_bg.png');
            border-radius: 4px 0 0 4px;
            padding: 6px 57px 6px 10px;
        }
        &#opponent-stack {
            margin-top: 6px;
        }
        &#player-stack {
            margin-top: 253px;
        }
        &#opponent-pip {
            margin-top: 64px;
        }
        &#player-pip {
            margin-top: 209px;
        }
    }
    .chip {
        @include default-box-shadow();
        background: $white;
        border: 1px double green;
        border-radius: 12px;
        color: $dark-gray;
        display: inline-block;
        font-size: 9px;
        margin: 0 auto;
        margin-right: 4px;
        height: 16px;
        width: 16px;
        span {
            font-size: 12px;
            font-weight: bold;
            position: relative;
            top: 1px;
            &:after {
                color: $red;
                content: "\2660";
            }
        }
    }
    .pkr-button {
        @include default-box-shadow();
        background: $white;
        border-radius: 15px;
        color: $dark-gray;
        display: block;
        height: 25px;
        margin-left: 75px;
        position: absolute;
        width: 25px;
        &#opponent-button {
            margin-top: 2px;
        }
        &#player-button {
            margin-top: 262px;
        }
        span {
            font-size: 14px;
            font-weight: bold;
            position: relative;
            top: 3px;
            &:after {
                content: "D";
            }
        }
    }
    #actions {
        bottom: 0;
        left: 10px;
        position: absolute;
        width: 100%;
        span.button {
            border-radius: 3px 3px 0 0;
            display: inline-block;
            float: left;
            width: 25%;
            margin: 0 3px;
            padding: 10px 7px 10px;
            .inner-button {
                display: inline;
            }
        }
    }
}
