$brown: #3B1A02;
$green: #0A3102;
$red: #390208;
$light-blue: #299283;
$white: rgb(220, 220, 220);
$black: rgb(5, 5, 5);

$dark-gray: rgb(22, 20, 20);
$medium-gray: rgb(40, 40, 40);
$light-gray: rgb(80, 80, 80);

@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin default-box-shadow() {
    @include box-shadow(0 0 1px 1px $black);
}

@mixin gradient($color1, $color2) {
    background-color: $color2;
    background-image: -webkit-gradient(linear, left bottom, left top, from($color1), to($color2));
    background-image: -webkit-linear-gradient($color1, $color2);
    background-image:    -moz-linear-gradient($color1, $color2);
    background-image:     -ms-linear-gradient($color1, $color2);
    background-image:      -o-linear-gradient($color1, $color2);
    background-image:         linear-gradient($color1, $color2);
}

@mixin radial-gradient($color1, $color2) {
    background: $color2;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from($color1), to($color2));
    background: -webkit-radial-gradient($color1, $color2);
    background: -moz-radial-gradient($color1, $color2);
    background: -ms-radial-gradient($color1, $color2);
    background: -o-radial-gradient($color1, $color2);
    background: radial-gradient($color1, $color2);
}
