$brown: #3B1A02;
$green: #0A3102;
$red: #390208;
$light-blue: #299283;
$white: rgb(210, 210, 210);
$black: rgb(5, 5, 5);

$dark-gray: rgb(22, 20, 20);
$medium-gray: rgb(40, 40, 40);
$light-gray: rgb(80, 80, 80);
