@import 'globals';

#lobby {
    position: relative;
    right: 320px;
    transition: right .5s linear;
    &.transition-off {
        transition: none;
    }
}

#logo {
    opacity: .95;
}

#find-game {
    position: relative;
}
