@import 'globals';

#lobby {
    @include transition(right .5s linear);
    position: relative;
    right: 320px;
    &.transition-off {
        @include transition(none);
    }
}

h1 {
    margin-bottom: 0;
}

#find-game {
    position: absolute;
    top: 360px;
    left: 0;
    right: 0;
}
