@import 'globals';


.overlay {
    @include default-box-shadow();
    @include transition(opacity .2s linear);
    background: url('/img/dark_bg.png');
    border-radius: 3px;
    position: absolute;
    top: 39px;
    left: 0;
    right: 1px;
    margin: 0 auto;
    opacity: 0;
    width: 100%;
    height: 66%;
    z-index: 1;
    &.show {
        opacity: .985;
    }
    .inner-overlay {
        @include default-box-shadow();
        background: $light-gray;
        border-radius: 5px;
        height: 50%;
        margin: 0 auto;
        padding: 13px;
        position: relative;
        width: 80%;
        .button {
            position: absolute;
            bottom: 13px;
            left: 0;
            right: 0;
        }
    }
}