@import 'globals';


.overlay {
    @include default-box-shadow();
    @include transition(opacity .2s linear);
    background: url('/img/dark_bg.png');
    border-radius: 2px;
    display: none;
    height: 66%;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 1px;
    top: 39px;
    width: 100%;
    z-index: 1;
    &.show {
        display: block;
        opacity: .985;
    }
    .inner-overlay {
        @include default-box-shadow();
        background: $light-gray;
        border-radius: 3px;
        height: 60%;
        margin: 0 auto;
        padding: 13px;
        position: relative;
        width: 80%;
        .overlay-buttons {
            bottom: 13px;
            left: 0;
            position: absolute;
            right: 0;
        }
        .button.cancel, .button.submit {
            float: left;
            position: relative;
        }
        .button.cancel {
            left: 2.5%;
            margin-right: 5.5%;
            width: 37%;
        }
        .button.submit {
            width: 55%;
        }
    }
}